	
		<link rel="stylesheet" type="text/css" href="css/component1.css" />
		<script src="scripts/modernizr-2.6.2.min.js"></script>
	     <div class="component">
				<!-- Start Nav Structure -->
				<button class="cn-button" id="cn-button">+</button>
				<div class="cn-wrapper" id="cn-wrapper">
				    <ul>
				      <li><a href="#"><span> <i class="icon-signout"></i>Protfolio</span></a></li>
				      <li><a href="#"><span class="icon-headphones">b</span></a></li>
				      <li><a href="#"><span class="icon-home">c</span></a></li>
				      <li><a href="#"><span class="icon-facetime-video">d</span></a></li>
				      <li><a href="#"><span class="icon-envelope-alt">e</span></a></li>
				     </ul>
				</div>
				<div id="cn-overlay" class="cn-overlay"></div>
				<!-- End Nav Structure -->
			</div>
		<script src="scripts/polyfills.js"></script>
		<script src="scripts/demo1.js"></script>

<button class="cn-button2" id="cn-button2"></button>
				